body {background-color: blue;
}
h1 {font-size: 10%;
}
#ima1 {width:50%
}
#ima1 {margin-left: 26%;
}
#ima2 {width: 50%;
}
#ima2 {margin-left: 26%;
}
h1 {text-align: center;
}
h2 {text-align: center;
}
